<html>
    <head>
        <style>
            #id1{
                font-size: x-large;
                font-style: italic;
                text-decoration-color: crimson;
                margin-top: 10%;
                
            }
            #id2{
                padding-top: 5%;
            }
            button:hover{
                
                transform:scale(1.09);
                transition:0.5s;  

            }
        </style>

    </head>
    <body style="background-color: burlywood;">
        <div id="id1">
            <center><h1>project using machine learning and flask</h1></center>       
        </div>
        <div id="id2">
            
        <form method="POST" action="/iris2/">
                <center><button style="font-size: x-large; background-color: burlywood; block-size: 5%;">START</button></center> 
            </form>
        </div>
    </body>
</html>